.button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
  }

  .button span {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    
  }

.event_color1 .button span{
  background-color:#f66eeb !important;
}
.event_color2 .button span{
  background-color:#C78DF1 !important;
}
.event_color3 .button span{
  background-color:#7575FD !important;
}
.event_color4 .button span{
  background-color:#00FF00 !important;
}
.event_color5 .button span{
  background-color:#ffe400 !important;
}
.event_color6 .button span{
  background-color:#FF7F00 !important;
}
.event_color7 .button span{
  background-color: #C953C9 !important;
}
.event_color8 .button span{
  background-color: #ff8e09 !important;
}

.event_bar_color_container input {
    margin-left: 28px;
  }
  