   
@font-face {
  font-family: 'JannaLT-Regular';
  src: url('../fonts/jbold/JannaLT-Regular.eot');
  src: url('../fonts/jbold/JannaLT-Regular.woff2') format('woff2'),
  url('../fonts/jbold/JannaLT-Regular.woff') format('woff'),
  url('.../fonts/jboldJannaLT-Regular.ttf') format('truetype'),
  url('../fonts/jboldJannaLT-Regular.svg#JannaLT-Regular') format('svg'),
  url('../fonts/jboldJannaLT-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'VAG-Rounded';
    src: url('http://demo.bwc.ae/Ajch/fonts/vag/VAG-Rounded.eot');
    src: url('http://demo.bwc.ae/Ajch/fonts/vag/VAG-Rounded.eot?#iefix') format('eot'),
    url('http://demo.bwc.ae/Ajch/fonts/vag/VAG-Rounded.woff') format('woff'),
    url('http://demo.bwc.ae/Ajch/fonts/vag/VAG-Rounded.ttf') format('truetype'),
    url('http://demo.bwc.ae/Ajch/fonts/vag/VAG-Rounded.svg#webfontQ1FnPBwb') format('svg');
    font-weight: bold;
    font-style: normal;
}
    
@font-face {
    font-family: JannaLT-Bold;
    src: url('http://demo.bwc.ae/Ajch/fonts/jbold/JannaLT-Bold.woff');
}

@font-face {
  font-family: 'VAGRoundedStd-Bold';
  src: url('../fonts/jbold/VAGRoundedStd-Bold.eot');
  src: url('../fonts/jbold/VAGRoundedStd-Bold.woff2') format('woff2'),
  url('../fonts/jbold/VAGRoundedStd-Bold.woff') format('word-wrap: ;ff'),
  url('../fonts/jbold/VAGRoundedStd-Bold.ttf') format('truetype'),
  url('../fonts/jbold/VAGRoundedStd-Bold.svg#VAGRoundedStd-Bold') format('svg'),
  url('../fonts/jbold/VAGRoundedStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JannaLT-Bold';
  src: url('../fonts/jbold/JannaLT-Bold.eot');
  src: url('../fonts/jbold/JannaLT-Bold.woff2') format('woff2'),
  url('../fonts/jbold/JannaLT-Bold.woff') format('woff'),
  url('../fonts/fonts/JannaLT-Bold.ttf') format('truetype'),
  url('../fonts/jbold/JannaLT-Bold.svg#JannaLT-Bold') format('svg'),
  url('fonts/jbold/JannaLT-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'janna';
    src: url('http://demo.bwc.ae/Ajch/fonts/janna/Janna LT Bold.eot');
    src: url('http://demo.bwc.ae/Ajch/fonts/janna/Janna LT Bold.eot?#iefix') format('eot'),
    url('http://demo.bwc.ae/Ajch/fonts/janna/Janna LT Bold.woff') format('woff'),
    url('http://demo.bwc.ae/Ajch/fonts/janna/Janna LT Bold.ttf') format('truetype'),
    url('http://demo.bwc.ae/Ajch/fonts/janna/Janna LT Bold.svg#webfontQ1FnPBwb') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
body{ font-family: 'JannaLT-Regular', sans-serif,'VAG-Rounded';  padding: 46px 0 0 0  }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'VAGRoundedStd-Bold', sans-serif; }

h1 { font-size: 26px; font-weight: 700; line-height: 36px; margin: 0 0 10px 0; padding: 0; color: #000; letter-spacing: 0.003em; }
h2 { color: #1a94ab; font-size: 27px; font-weight: 600; font-family: 'VAGRoundedStd-Bold', sans-serif; }
h3 { font-size: 22px; font-weight: 700; line-height: 30px; margin: 0 0 10px 0; padding: 0; color: #000; letter-spacing: 0.003em; }
h4 { font-size: 20px; font-weight: 700; line-height: 28px; margin: 0 0 10px 0; padding: 0; color: #000; letter-spacing: 0.003em; }
h5 { font-size: 18px; font-weight: 700; line-height: 26px; margin: 0 0 10px 0; padding: 0; color: #000; letter-spacing: 0.003em; }
h6 { font-size: 16px; font-weight: 700; line-height: 22px; margin: 0 0 10px 0; padding: 0; color: #000; letter-spacing: 0.003em; }
a, i, button, input { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}

p { font-family: 'JannaLT-Regular'; color: #666; }
a, a:focus { outline: 0 }
.navbar-toggle { padding: 9px 8px;} 
.navbar-toggle .icon-bar { width: 20px;}


.topbar { margin: 0; border: 0; background: #115e6e; border-radius: 0; position: fixed; top: 0; left: 0; z-index: 9999; right: 0 }
.topbar .apply-now { width: 110px; height: 24px; font-size: 10px; color: white; background: #1a94ab; float: right; text-align: center; text-transform: uppercase; line-height: 1.5; border-radius: 50px; font-weight: 600; font-family: 'Roboto', sans-serif,'VAG-Rounded'; margin-left: 10px; margin-top: -2px; padding-top: 5px; text-decoration: none; }
.topbar-alert { font-weight: bold; float: left; font-size: 19px; color: #337ab7; background-color: #fff; margin: 8px 0; height: 30px; border-radius: 20px;  padding: 5px 4px 5px 15px; }
.topbar-alert p { margin: 0; line-height: 19px; color: #337ab7 }
.topbar-alert p span { color: #7a23ed; }
.topbar li a { padding: 13px 8px; float: left; font-size: 10px; color: #fff; background: transparent;}
.topbar li a:hover,
.topbar li a:focus { background-color: transparent !important; color: #fff !important }
.topbar .navbar-toggle { background: #1a94ab; border: 0; border-radius: 0 }
.topbar .navbar-toggle:hover,
.topbar .navbar-toggle:focus { background: #06a9c7 }
.topbar .navbar-toggle .icon-bar { background: #fff }
.topbar .dropdown:hover ul { display: block; }
.topbar .dropdown ul { padding: 0 }
.topbar .dropdown ul li a { display: inline-block; width: 100%; padding: 10px 15px;     position: absolute;
    background-color: #fff; color: #1a94ab !important;
    font-size: 10px !important;
    text-decoration: none !important;
    font-family: 'JannaLT-Bold';
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 40px;
    z-index: 1; text-transform: uppercase;
    border-radius: 20px; margin-left: 36px; }
.topbar .dropdown-menu { width: 120px; min-width: 120px }
.topbar .dropdown ul li a:hover,
.topbar .dropdown ul li a:focus { background-color: #fff !important; color: #1a94ab !important; }

header { position: relative;  }   
.brand-logo { padding: 10px 0; display: inline-block; } 
.brand-logo img { max-width: 285px }
.header-bar { position: absolute; top: 0; left: 0; right: 0; font-family: 'JannaLT-Bold'; z-index: 99999; }
.header-bar .navbar-nav { float: right; margin: 28px 0 0 0}
.header-bar .navbar-nav>li>a { color: #fff; font-weight: 700; font-size: 15px }
.header-bar .navbar-nav>li:hover a { background: #fff; border-radius: 80px; color: #1a94ab !important; }
.header-bar .new-nav { background-color: transparent; border: 0 }
.header-bar .navbar-nav li { float: left; list-style: none; position: relative; }
.header-bar .navbar-nav li a {}
.header-bar .navbar-nav li .dropdown-menu li a { color: #1a94ab; font-weight: 700;  padding: 5px 19px;   text-transform: capitalize;}
.header-bar .navbar-nav li.dropdown:hover > ul.dropdown-menu { padding: 15px 5px; border-radius: 25px;}
.header-bar .navbar-nav li.mainli:hover { border-radius: 80px;}
.header-bar .navbar-nav .dropdown-menu { border-radius: 25px; width: 205px;}
.header-bar .navbar-nav .sub-menu li { display: inline-block; width: 100% }
.header-bar .navbar-nav .sub-menu li  { display: inline-block; width: 100%; font-weight: 700 }
.header-bar .navbar-nav .sub-menu li:hover a,
.header-bar .navbar-nav .sub-menu li:focus a { }
.header-bar .navbar-collapse { padding: 0 }
.header-bar .navbar-toggle { background: #1a94ab; border: 0; border-radius: 0 }
.header-bar .navbar-toggle:hover,
.header-bar .navbar-toggle:focus { background: #06a9c7 }
.header-bar .navbar-toggle .icon-bar { background: #fff }

.banner img { width: 100%; position: relative; }
.banner .caption { position: absolute; left: 0; right: 0; bottom: 70px }
.banner .caption-in { background: rgba(0, 111, 115, 0.65); float: left; padding: 28px 35px }
.banner .caption-in h2 { font-size: 34px; color: #fff; margin: 0; padding: 0; letter-spacing: .02em; line-height: 40px; }


.content-area { padding: 80px 0 }
.about-row { margin-bottom: 50px }
.read-more { position: relative; padding: 12px 35px; overflow: hidden; font-size: 12px; color: white; background: #1a94ab; border: 1px solid #1a94ab; display: inline-block; text-align: center; text-transform: uppercase; border-radius: 50px; margin-top: 18px; font-weight: 600; font-family: 'Roboto', sans-serif,'VAG-Rounded';}
.read-more span { z-index: 2; position: relative;}
.read-more:hover,
.read-more:focus { color: #1a94ab; background: #fff; text-decoration: none;  }
/*.read-more:before { content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 100%; background-color: #097185; z-index: 1; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.read-more:hover:before { top: 0 }*/

.about-row iframe { max-width: 100% }

.address-strip { background: #097185; color: #fff; }
.address-strip .row { margin: 0 }
.address-strip h4,
.address-strip p { color: #fff }
.address-strip h4 { margin: 0 0 15px }
.address-strip .left,
.address-strip .right { width: 50%; float: left; }
.address-strip .right iframe { width: 100%; height: 160px; margin: 0; float: left; }
.address-strip .address { position: relative; padding: 0 0 0 30px }
.address-strip .address:before { position: absolute; display: inline-block; content: ""; left: 0; top: 0; width: 14px; height: 20px; background: url(../images/location-icon.png); }
.address-strip .left { padding: 25px 15px 0 ; }
.address-wrapper { margin: 0 0 0 40%; }

/*Footer*/
.footer { background: #1991a7 url(../images/footer-bg.jpg) no-repeat center top; padding: 50px 0 120px; background-size: cover; }
.footer h4 { color: #fff; margin-bottom: 30px; font-size: 18px } 
.footer ul { padding: 0; font-family: 'JannaLT-Bold', sans-serif; font-size: 13px; }
.footer ul li { display: inline-block; width: 100%; padding: 0 }
.footer ul li a { color: #fff }
.footer ul.social { display: inline-block; width: 100%; text-align: center; }
.footer ul.social li { display: inline-block; width: auto; margin: 0 8px; }
.footer ul.social a { display: inline-block; width: 24px; height: 24px; }
.footer ul.social a i { display: inline-block; width: 27px; height: 25px; background: url(../images/social.png) no-repeat;}
.footer ul.social a i.instagram { background-position: 0px 0px }
.footer ul.social a i.facebook { background-position: -84px 0px }
.footer ul.social a i.youtube { background-position: -42px 0px }
.footer ul.social a i.twitter { background-position: -127px 0px }
.footer ul.social a i.linkedin { background-position: -170px 0px }
.footer-logo img { max-width: 280px; width: 100% }


.sub-content.sub-content { padding: 35px 0 }
.sub-content h1,
.sub-content h2,
.sub-content h3,
.sub-content h4,
.sub-content h5,
.sub-content h6 { color: #1a94ab; font-size: 20px; font-family: 'JannaLT-bold'; margin: 10px 0 25px;  }
.sub-content h1 { font-size: 30px; }
.sub-content h2 { font-size: 26px; }
.sub-content h3 { font-size: 22px; }
.sub-content h4 { font-size: 20px; }
.sub-content h5 { font-size: 18px; }
.sub-content h6 { font-size: 16px; }
.sub-content p { color: #666;  font-size: 14px; letter-spacing: 0; line-height: 26px; text-align: justify; } 
.sub-content ul,
.sub-content ol { margin: 0 0 30px } 
.sub-content ul li,
.sub-content ol li { list-style: square; color: #666; font-size: 14px; margin-bottom: 10px; }
.sub-content ol li { list-style: decimal; }
.sub-content img { max-width: 100%; height: auto; }
.sub-content table.table { width: 100%; margin: 20px 0; border: 1px solid #ddd;}
.sub-content table.table thead { background: #1a94ab; color: white;  }
.sub-content table.table thead th { border-left: 1px solid #fff; border-bottom: 0; text-align: center;  }
.sub-content table.table tr td { border-right: 1px solid #ddd; }

.sub-content .btn { position: relative; padding: 12px 35px; overflow: hidden; font-size: 12px; color: white; background: #1a94ab; border: 1px solid #1a94ab; display: inline-block; text-align: center; text-transform: uppercase; border-radius: 50px; margin-top: 18px; font-weight: 600; font-family: 'Roboto', sans-serif,'VAG-Rounded';}

.sub-content .btn:hover,
.sub-content .btn:focus { background: #fff; color: #1a94ab;}



.text-center p { text-align: center; }

.sub-banner { background: url(../images/reg-baner1.jpg) repeat; height: 294px; width: 100%; }
.sub-banner .container { height: 100%; }
.img-full-width { width: 100%; margin: 10px 0 30px }
ul.tab-menu { margin: 236px -15px 0; padding: 0 }
ul.tab-menu li { width: 25%; float: left; padding: 0 15px; box-sizing: border-box; list-style: none}
ul.tab-menu li a { background: #1a94ab ; color: #fff; padding: 18px 0; text-transform: uppercase; font-family: 'VAGRoundedStd-Bold'; font-size: 16px; border-radius: 30px 30px 0 0; text-align: center; display: inline-block; width: 100% }
ul.tab-menu li.active a { color: #1a94ab ; background: #fff; text-decoration: none }
ul.tab-menu li a:focus,
ul.tab-menu li a:hover {  text-decoration: none }

/*.curriculum-tab ul.tab-menu li { width: 33.33333%;}*/

.tab-wrapper { margin: -108px 0 0 0; }
.tab-wrapper ul.nav.nav-pills li { margin: 0 }
.tab-wrapper ul.nav.nav-pills li a { background: #1a94ab ; color: #fff; padding: 18px 0; font-family: 'VAGRoundedStd-Bold'; font-size: 18px; border-radius: 30px 30px 0 0; text-align: center; display: inline-block; width: 100%}
.tab-wrapper ul.nav.nav-pills li.active a { color: #1a94ab; background: #fff !important;  }

.side-menu-wraper { background: #f8f8f8; margin: -35px 0 0 0; float: left; width: 100%; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; padding: 25px 20px;}
.side-menu-wraper ul.side-bar-tab { padding: 0; margin: 0; display: inline-block; width: 100% }
.side-menu-wraper ul.side-bar-tab li { list-style: none }
.side-menu-wraper ul.side-bar-tab li a { color: black; text-decoration: none;padding: 10px; float: left;width: 100%; text-decoration: none; color: #000; font-family: 'JannaLT-Bold'; font-size: 14px; border: 0 !important;}
.side-menu-wraper ul.side-bar-tab li.active>a, 
.side-menu-wraper ul.side-bar-tab li.active>a:focus, 
.side-menu-wraper ul.side-bar-tab li.active>a:hover,
.side-menu-wraper ul.side-bar-tab li>a:focus, 
.side-menu-wraper ul.side-bar-tab li>a:hover { color: #1a94ab; }
.side-menu-wraper ul.side-bar-tab li a .fa.fa-caret-right { float: right; }

.directer-details h6 { margin: 10px 0 0;  }

.team-box { margin: 0 0 60px }
.team-box,
.team-box p { text-align: center; }
.team-box-wrap { position: relative; }
.team-box-wrap .img { border-radius: 100%; overflow: hidden; }
.team-box h5 { margin: 0 }
.team-box .read-more-btn { position: absolute;  left: 0; top: 0; height: 100%; width: 100%; margin: 0; background: transparent; color: transparent; }



.modal { background: rgba(0,111,131,0.7);}
.modal .close { margin: -5px -5px 0 0; outline: none; border: 0; width: 30px; height: 30px; line-height: 22px;  }
.modal-dialog { z-index: 9999; top: 106px; }
.modal-dialog img { margin: -100px 0 0 0; }
.modal-dialog p { text-align: justify; }
.modal-content { border-radius: 30px; padding: 20px }

.modal-head p { text-align: center; }

.form-wrapper label {  }
.form-wrapper input,
.form-wrapper textarea,
.form-wrapper select { padding: 10px 0; border: 0; border-bottom: 1px solid #d6d6d6 ; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0); border-radius: 0; resize: none; background: transparent; }
.form-wrapper select { padding: 0; color: #555555; font-weight: 700 }
.form-wrapper select:invalid { color: gray; }
option[value=""][disabled] {display: none;}
.form-wrapper select option { color: #000; }
.form-wrapper label .red { color: #e40c46; }

.form-wrapper input::-webkit-input-placeholder,
.form-wrapper textarea::-webkit-input-placeholder { color: #d6d6d6; font-weight: 700}
.form-wrapper input::-moz-placeholder,
.form-wrapper textarea::-moz-placeholder { color: #d6d6d6; font-weight: 700}
.form-wrapper input:-ms-input-placeholder,
.form-wrapper textarea:-ms-input-placeholder { color: #d6d6d6; font-weight: 700}
.form-wrapper input:-moz-placeholder,
.form-wrapper textarea:-moz-placeholder { color: #d6d6d6; font-weight: 700}
.form-control:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0.); box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0);}
.forget-password { display: inline-block; margin: 15px 0 0  }
.forget-password a { font-weight: 700; color: #1a94ab }

.form-group { margin: 10px 0 20px; display: inline-block; width: 100% }
.affiliation .img { margin: 18px 0 0 0; display: inline-block;  }
.login-form { max-width: 600px; margin: 0 auto; }

.contact-form .form-group { margin: 0 0 10px }

.full-width { width: 100%; max-width: 100% }

.application-form {  }
.application-form .form-group.col-md-3 { float: left; width: 33.33333%; padding: 0 15px; box-sizing: border-box; }
.application-form .form-group.col-md-6 { float: left; width: 50%; padding: 0 15px; box-sizing: border-box; }
.application-form .btn-row .col-md-6 { width: auto; float: left; }
.application-form .btn-row .col-md-6.text-right { float: right; }
.application-form h6 { margin: 0; font-size: 12px }
.application-form p { margin: 5px 0 25px }


.step-pager ul { padding: 0 }
.step-pager ul li { float: left; list-style: none; position: relative; padding: 0 50px 0 0; position: relative; }
.step-pager ul li:after { position: absolute; top: 50%; left: 25px; right: 0; height: 2px; content: ''; background: #1a94ab }
.step-pager ul li:last-child { padding: 0 }
.step-pager ul li:last-child:after { display: none; }
.step-pager ul li a,
.step-pager ul li span { display: inline-block; width: 25px; height: 25px; border-radius: 100%; border: 1px solid #1a94ab; text-align: center; line-height: 25px; background: #fff }
.step-pager ul li.active a { background: #1a94ab !important; color: #fff }
.step-pager ul li a:hover,
.step-pager ul li a:focus { text-decoration: none;  background: #1a94ab !important; color: #fff}

.btn-file { position: relative; overflow: hidden;}
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;}
#img-upload { width: 100%;}


.image-uploader .input-group { position: relative; width: 100% }
.image-uploader .input-group-btn { position: absolute; right: 0; width: 200px; z-index: 9;  }
.image-uploader .btn-file { float: right; margin: 0; border-radius: 35px !important; font-size: 13px; padding: 4px 13px 2px 13px; border: 1px solid #1a94ab; background: #fff; color: #000;   }
.image-uploader .form-control { background: transparent !important; }

@media (min-width: 1200px) {
  .header-bar .navbar-nav li.dropdown:hover > ul.dropdown-menu { display: block;}
}

@media (max-width: 1199px) {
  .logo-wrap { position: relative; }
  .logo-wrap img { max-width: 100%; width: 300px; margin: 10px }
  .header-bar .navbar-toggle { position: absolute; right: 0; top: 0 }
  .header-bar .navbar-collapse { position: fixed; left: -300px; padding: 0 15px; height: 100% !important; top: 0; bottom: 0; width: 300px; background: #0e4f5d; z-index: 999999; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
  .header-bar .navbar-collapse.in { left: 0; bottom: 0; height: 100%;  }
  .header-bar .navbar-nav li { width: 100% }
  .footer ul.social li { display: inline-block; width: auto; margin: 0 5px; }
  .content-area { padding: 50px 0 }
  .sub-banner { min-height: 200px }
  ul.tab-menu { margin: 236px -15px 0 }
  .address-wrapper { margin: 0 0 0 11%; }
  .banner .caption { bottom: 70px }
  .banner .caption-in { padding: 20px 30px }
  .banner .caption-in h2 { font-size: 32px; line-height: 36px; }
}

@media (max-width: 991px) {
  .logo-wrap img { max-width: 100%; width: 250px; margin: 10px }
  .topbar-alert { font-size: 14px;}
  .topbar .apply-now { width: 80px;}
  .topbar-alert { margin-left: 15px; }
  .home .content-area { text-align: center; }
  a.more { display: inline-block; float: none; margin: 0 auto }
  .address-strip .left, 
  .address-strip .right { width: 100%; text-align: center; }
  .address-strip .address:before { position: relative;  margin-left: -10px; }
  .footer-logo { text-align: center; }
  .footer-logo img { margin: 50px auto 0; max-width: 280px; width: 100% }
  .footer { text-align: center; }
  .logo-wrap { text-align: center; }
  .logo-wrap img { margin: 10px auto }
  .left-about { margin-bottom: 25px }
  .content-area { padding: 20px 0 }
  .topbar .navbar-nav { text-align: center; }
  .topbar .navbar-nav li { display: inline-block; padding: 0 2px}
  .topbar .navbar-nav li a { background-color: #1a94ab; color: #fff; padding: 5px 20px; border-radius: 25px; }
  .sub-banner { min-height: 150px }
  ul.tab-menu li a { border-radius: 15px 15px 0 0; padding: 10px 0 8px; font-size: 14px; }
  .side-menu-wraper { margin: -19px 0 0 0;}
  .banner .caption { bottom: 30px }
  .banner .caption-in { padding: 15px 20px }
  .banner .caption-in h2 { font-size: 22px; line-height: 30px; }
  .address-wrapper {  margin: 0;}
  .address-strip .address { padding: 0 0 15px }
}

@media (max-width: 767px) {
  ul.tab-menu { margin: 120px 0 0; padding: 0 0 10px; display: inline-block; width: 100% }
  ul.tab-menu li { width: 100%; padding: 0 }
  ul.tab-menu li a { border-radius: 15px; margin: 0 0 10px; padding: 10px; font-size: 16px; }
  .curriculum .left { width: 100%; display: inline-block; }
  .side-menu-wraper { margin: 0; background: transparent; display: inline-block; width: 100%}
  .side-menu-wraper ul.side-bar-tab li a { background: #1a94ab !important; border-radius: 26px; color: #fff; border: 1px solid #1a94ab !important;  text-align: center; margin: 0 0 15px}
  .side-menu-wraper ul.side-bar-tab li.active>a, 
  .side-menu-wraper ul.side-bar-tab li.active>a:focus, 
  .side-menu-wraper ul.side-bar-tab li.active>a:hover,
  .side-menu-wraper ul.side-bar-tab li>a:focus, 
  .side-menu-wraper ul.side-bar-tab li>a:hover { color: #1a94ab; background: #fff !important }
  .curriculum-page .sub-banner {  min-height: 500px;}
  .curriculum-page .side-menu-wraper { margin-top: -300px; padding: 0 }
  .banner .caption { bottom: 20px }
  .banner .caption-in { padding: 10px 15px }
  .banner .caption-in h2 { font-size: 18px; line-height: 22px;   }
  .contact-img { margin: 25px 0 0 0 }
  .contact-img img { width: 100% }
  .application-form .form-group.col-md-3 { width: 100%; }
  .application-form .form-group.col-md-6 { width: 100%; }
}

@media (max-width: 460px) {
  .topbar-alert { font-size: 12px;}
  .mobile-menu-icon { top: 5px !important }
  .logo-wrap img { width: 231px; }
  .topbar-alert { padding: 5px 4px 5px 10px; height: 26px; margin: 10px 0 0 15px}
  .topbar .apply-now { width: 70px; line-height: 11px;height: 20px; }
  .banner .caption { display: none; }
  .step-pager ul li { padding: 0 30px 0 0; }
}



@media (min-width:991px) {
  .w-menu{ margin:40px 0px 0px 0px; padding:0px 0px 0px 0px; float: right;}
  .w-menu ul{  margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; top: 100%; }
  .w-menu ul li{ float:left; list-style:none; position: relative; padding: 0 0 8px }
  .w-menu ul li a { padding: 8px 15px; font-size: 14px; border-radius: 45px;  text-transform: capitalize; white-space: nowrap; letter-spacing: 0; width: 100%; color: #fff !important;}
  .w-menu ul li a { text-decoration:none; display: inline-block; }
  .w-menu ul li a:hover { text-decoration:none; background-color: #fff; color: #1a94ab !important;   }
  .w-menu ul li a:hover ul { border-radius: 45px; background-color: #fff; overflow: hidden; }
  .w-menu ul li li a { border:none !important; transition: 0.3s;    }
  .w-menu ul li li a:hover { padding-left:20px; color: #fff}
  .w-menu ul li > ul,
  .w-menu ul li li > ul,
  .w-menu ul li li li > ul,
  .w-menu ul li li li li> ul,
  .w-menu ul li li li li li > ul { display: none; text-align:left; }
  .w-menu ul li:hover > ul,
  .w-menu ul li li:hover > ul,
  .w-menu ul li li li:hover > ul,
  .w-menu ul li li li li:hover > ul,
  .w-menu ul li li li li li:hover > ul { position: absolute; z-index: 10; width: 200px; line-height: 20px; display: block;}
  .w-menu ul ul li ul { top: 100%; left: 200px; min-height: 100%;}
  .w-menu ul ul { padding: 10px; }
  .w-menu ul ul li { position: relative; width:100%; display: inline-block; padding: 0}
  .w-menu ul ul li a { padding: 8px 20px; display: inline-block; clear: both; font-weight: 500; line-height: 1.42857143; color: #1a94ab !important; white-space: nowrap; }
  .w-menu > ul > li:hover > a,
  .w-menu > ul > li a.acitve { color:#1a94ab; background-color: #fff}
  .w-menu ul li:hover > ul,
  .w-menu ul li li:hover > ul,
  .w-menu ul li li li:hover > ul,
  .w-menu ul li li li li:hover > ul,
  .w-menu ul li li li li li:hover > ul { background-color: #fff; border-radius: 25px; padding: 15px 5px; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.15); box-shadow: 0 6px 12px rgba(0,0,0,.175); }
  .w-menu ul ul li:hover > a { background: #1a94ab; color: #fff !important }
  .w-menu ul li span.arrow-plus { display: none !important; position:absolute; display:block; z-index:99; right:2px; top:0px; cursor:pointer; text-align:center; height:auto;}
  .w-menu ul li span.arrow-plus:after { font-family: FontAwesome; content: "\f107"; color:#FFF; font-size:14px; }
  .w-menu ul li li span.arrow-plus{ padding-top:9px; padding-right:5px; }
}

@media (max-width:991px) {
  .mobile-menu-icon { position:absolute; width:35px; height:35px; background-color:#1a94ab; display: block; right:15px; cursor:pointer; top:20px; z-index:99; text-align:center; transition: 0.3s; padding-top:7px; }
  .mobile-menu-icon:after { font-family: FontAwesome; content: "\f0c9"; line-height:20px; font-size:18px; font-weight:400; color:#FFF; }
  .mobile-menu-icon.icon-open { transition: 0.3s; }
  .mobile-menu-icon.icon-open:after { content: "\f00d"; }
  .mobile-menu { position: fixed; z-index: 99; top: 0; left: -300px;  width: 300px; height: 100%; overflow-x: hidden; overflow-y: auto; background: #044d5d; transition: 0.3s;}
  .mobile-menu.menu-open { left:0px; transition: 0.3s;}
  .w-menu ul { padding:0px; margin:0px;}
  .w-menu ul li { float:none; list-style:none; position:relative; }
  .w-menu ul li a { color: #fefefe; font-size: 13px; display: block; padding:7px 10px; border-top: 1px solid rgba(255,255,255,0.045); border-bottom: 1px solid rgba(0,0,0,0.045);}
  .w-menu ul li ul { display:none;  }
  .w-menu ul li span.arrow-plus { position:absolute; width:35px; height:35px; border: solid 1px #0f5564; background: #003e4c; display:block; z-index:99; right:2px; top:0px; cursor:pointer; text-align:center; padding-top:5px; }
  .w-menu ul li span.arrow-plus:after { font-family: FontAwesome; content: "\f067"; color:#FFF; font-size:14px; }
  .w-menu ul li span.arrow-minimize:after{ content: "\f068";font-size:14px; }
  .w-submenu { display:block !important; background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0; }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.new-icons{
    background: url("../images/error.png") no-repeat right center !important;
    padding-left:16px;
  }

.progress { position:relative; border: 1px solid #ddd; padding: 1px; border-radius: 3px;display: none; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:0px; left:48%; }